@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.action-button {
  @apply flex items-center justify-center rounded-md bg-white px-3 py-2 h-10 text-sm font-semibold text-gray-900 
  shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-blue-400 hover:text-[#646cff] active:text-blue-900 disabled:opacity-60 disabled:cursor-not-allowed;
}

.incall-button {
  @apply flex items-center justify-center rounded-md bg-gray-700 px-3 py-2 h-10 text-sm font-semibold text-white 
  shadow-sm ring-1 ring-inset ring-gray-300 hover:ring-blue-400 hover:text-[#646cff] active:text-blue-900 disabled:opacity-60 disabled:cursor-not-allowed;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
  display: grid;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
